body {
  background-color: lightblue;
}

.Navegacion ul{

    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
}

.Navegacion li{
    float: left;
}

.Navegacion li a{

    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Navegacion li a:hover{
    
    background-color: #0a0;
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

